@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto+Condensed");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background: #ede8e8;
  text-align: center;
  font-size: 20px;
}

h1 {
  font-family: 'Major Mono Display', Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-transform: lowercase;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #364968;
  color: lightgrey;
  text-align: center;
  -webkit-box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: top 500ms, top 500ms;
  -o-transition: top 500ms, top 500ms;
  transition: top 500ms, top 500ms;
  z-index: 999;
}

nav a {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 35px;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  -webkit-transition: background 0.3s, background 0.3s;
  -o-transition: background 0.3s, background 0.3s;
  transition: background 0.3s, background 0.3s;
  display: block;
  font-family: 'Major Mono Display', Arial, Helvetica, sans-serif;
}

nav a:link {
  color: lightgrey;
}

nav a:visited {
  color: lightgrey;
}

nav a:hover {
  background: #51637f;
  color: lightgrey;
}

nav a:active {
  color: lightgrey;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#btn {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

#btn svg {
  width: 60px;
  height: 60px;
}

#btn svg line {
  stroke: black;
  stroke-width: 2.5px;
  stroke-linecap: round;
}

#close {
  -webkit-transition: opacity 300ms, opacity 300ms;
  -o-transition: opacity 300ms, opacity 300ms;
  transition: opacity 300ms, opacity 300ms;
}

.sidenav {
  text-align: left;
  left: 0;
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(rgba(180, 174, 174, 0.9)), to(rgba(198, 192, 192, 0.4)));
  background: -o-linear-gradient(left, rgba(180, 174, 174, 0.9), rgba(198, 192, 192, 0.4));
  background: linear-gradient(to right, rgba(180, 174, 174, 0.9), rgba(198, 192, 192, 0.4));
  overflow: hidden;
  -webkit-transition: width 1s, width 1s;
  -o-transition: width 1s, width 1s;
  transition: width 1s, width 1s;
}

.sidenav h1 {
  margin-top: 70px;
}

.sidenav button {
  z-index: 1009;
  background: none;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  margin: 5px 0;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: background 500ms, background 500ms;
  -o-transition: background 500ms, background 500ms;
  transition: background 500ms, background 500ms;
}

.sidenav button:hover {
  background: #a7a0a0;
}

.sidenav button a {
  display: block;
  width: 100%;
  height: 100%;
}

#wrapper {
  width: 100%;
  text-align: center;
}

.bgimg {
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  margin: 0 auto;
  background: #ede8e8;
  width: 100%;
}

footer {
  font-size: 20px;
  height: 50px;
  background: #364968;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.copyright {
  font-size: 35px;
}

.copyright a {
  color: #ede8e8;
  text-decoration: none;
}

.niceInput {
  margin: 3px;
  text-align: center;
  background: lightgrey;
  width: 250px;
  height: 40px;
  padding: 2.5px 5px;
  border-radius: 20px;
  border: 1.5px solid grey;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
