@import "vars";
@import "mixins";
#starth1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    opacity: 0.7;
    top: 250px;
    position: absolute;
    text-align: center;
    z-index: 999;
    @include filter(blur(0.5px));
    color: black;
    width: calc(100% - 70px);
}

.bgimg-1 {
    min-height: 580px;
    background-image: url('../images/index/metro.jpg');
}

.bgimg-2 {
    min-height: 500px;
    background-image: url('../images/index/cactus.jpg');
}

.bgimg-3 {
    min-height: 400px;
    background-image: url('../images/index/code.jpg')
}

#table {
    padding: 10px 0 20px 0;
    font-size: 30px;
    table {
        vertical-align: center;
        margin: 0 auto;
        border-collapse: collapse;
    }
    table td :not(.right) {
        min-width: 190px;
    }
    table td {
        line-height: 45px;
    }
    & h4 {
        font-family: $allerta;
        font-size: 30px;
    }
}

.right {
    border-right: 2px solid green;
}

.under {
    border-bottom: 2px solid red;
}

form {
    width: 100%;
    @include box-sizing(border-box);
    padding: 5px;
    border-radius: 15px;
    font-size: 30px;
    @include transition(height 1s,
    opacity 500ms);
    height: 250px;
    margin-top: 10px;
    input {
        cursor: text;
    }

    input[type=submit] {
        cursor: pointer;
    }

    select {
        cursor: default;
    }

    input[type=date] {
        cursor: text;
        letter-spacing: 1px;
    }

    label,
    input :not(.gender) {
        padding-top: 10px;
        display: block;
    }

    select {
        margin: 3px;
        width: 250px;
        border: 1.5px solid grey;
        background: lightgrey;
        text-align-last: center;
        direction: ltr;
        @include box-sizing(border-box);
        border-radius: 20px;
        height: 40px;
        padding: 5px;
        font-size: 20px;
    }
}

.form {
    @include flexDisplay();
    @include justify-content(center);
}

.part {
    margin: 5px;
}

input[type=submit] {
    font-size: 25px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    border: 1.5px solid lightgrey;
    @include box-sizing(border-box);
    padding: 5px;
    margin: 3px auto;
    background: #28fc19;
}

#result {
    padding: 15px;
    opacity: 0;
    width: 120px;
    margin: 0 auto;
    height: 0;
    @include transition(height 2s,
    opacity 500ms);
    overflow: hidden;
    svg {
        width: 120px;
        height: 85px;
    }
}

.projects {
    width: 1000px;
    height: 490px;
    margin: 2px auto;
    @include flex-wrap(wrap);
    @include justify-content(center);
    a {
        text-decoration: none;
    }
}

.projItem {
    border: 1.5px solid grey;
    border-radius: 15px;
    min-width: 465px;
    min-height: 220px;
    margin: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    &:hover>.projCont {
        margin-top: 165px;
        height: 80px;
    }

    &:hover .flex {
        @include transition(height 0.8s,
        padding 0.8s);
        height: 55px;
        padding: 12.5px 0;
    }
}

.projItem-1 {
    background-image: url('../images/index/discord.svg');
}

.projItem-2 {
    background-image: url('../images/index/pythonbannerTrans.png');
}

.projItem-3 {
    background-image: url('../images/index/website.jpg');
}

.projItem-4 {
    background-image: url('../images/index/discord.svg');
}

.projCont {
    margin: 190px 0 0 0;
    border-radius: 0 0 15px 15px;
    background: rgba(209, 197, 197, 0.5);
    height: 55px;
    @include justify-content(left);
    @include transition(height 0.8s,
    margin-top 0.8s);
    padding: 0;
    p {
        height: 45px;
        text-align: left;
        padding: 5px;
        font-size: 21px;
    }

    img {
        height: 45px;
        padding: 5px
    }
}