@import "variables";

.contact {
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  justify-content: center;
  padding: $notScrolled 0;
}

.main {
  background: $bg3;
  flex-grow: 1;
  // flex-basis: 0;
  margin-top: $notScrolled;
  padding: 0;
  height: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  & > div {
    flex-direction: column;
    padding: 0 1em;
  }
}

.content {
  flex-direction: column;
  gap: 1em;
}

$socialWidth: 9em;

.beginning {
}

.socials {
  justify-content: center;
  flex-wrap: wrap;
  // font-size: 1.5em;
  text-align: center;
  gap: 15px;

  a {
    width: $socialWidth;
    height: $socialWidth;
    color: $color !important;
    border-radius: 50%;
    transition: background-color $duration ease;
    position: relative;

    &:hover {
      background-color: transparentize($color: $bg, $amount: 0.2);
    }

    .icon {
      position: absolute;
      height: $socialWidth * 0.6;
      width: $socialWidth * 0.6;
      min-width: 60px;
      min-height: 60px;
      margin-bottom: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.ring {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.at {
  font-weight: bold;
  font-size: 2em;
  width: 100%;
  text-align: center;
  margin: 0;
}

$socialSmaller: $socialWidth * 0.85;

@media screen and (max-width: 30em) {
  .socials a {
    width: $socialSmaller;
    height: $socialSmaller;

    .icon {
      width: $socialSmaller * 0.6;
      height: $socialSmaller * 0.6;
    }
  }
}
