@import "variables";

$skewDeg: -3deg;

.main {
  margin: 0;
  padding: 0 !important;
  background: $bg3;

  & > div {
    padding: 0;
  }
  a {
    text-decoration: underline;
  }
}

.topPart {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  // height: 60vh;
  height: fit-content;
  min-height: 300px;
  background: $bg3;
  position: relative;
  max-width: 1500px;
  overflow: hidden;

  .info {
    transform-origin: top left;
    transform: rotate($skewDeg) skewY($skewDeg);
    transition: transform $duration;
    z-index: 5;
    width: 104%;
    height: 16vh;
    background: inherit;
    z-index: 1;
    align-items: flex-start;
    border: 1px solid transparentize($color: $color, $amount: 0.5);

    & > div {
      transform: skewY(-$skewDeg) rotate($skewDeg);
      padding: 10px 0;
      height: auto;
    }

    .properties {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      & > * {
        margin: 10px 25px;
      }
    }

    h1,
    p {
      margin: 0;
    }
  }

  picture {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // height: 40vh;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1450px) {
  .info {
    transform: rotate($skewDeg * 0.85) skewY($skewDeg * 0.85) !important;

    & > div {
      transform: rotate($skewDeg * 0.85) skewY(-($skewDeg * 0.85)) !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .info {
    padding: 0 30px;
  }
}

@media screen and (max-width: 700px) {
  .topPart {
    height: fit-content;
    .info {
      transform: none;
      position: static;
      height: auto;

      & > div {
        transform: none;
      }
    }

    picture {
      height: auto;
    }
  }
}

.noImg {
  composes: topPart;

  .info {
    transform: none !important;
    & > div {
      transform: none !important;
    }
  }
}
