@import "variables";

$skewDeg: -3deg;

.main {
  margin: 0;
  padding: 0 !important;
  background: $bg3;

  & > div {
    padding: 0;
  }
  a {
    text-decoration: underline;
  }
  ul,
  li {
    list-style-type: disc;
  }
}

.topPart {
  flex-direction: column;
  justify-content: flex-start;
  // width: 100%;
  // height: 60vh;
  height: fit-content;
  min-height: 300px;
  position: relative;
  // max-width: 1500px;
  overflow: hidden;
  margin: 0 auto;
  width: calc(100% - 4% * 2);
  max-height: 1000px;

  @media #{$mq-medium} {
    width: calc(100% - 7.5% * 2);
  }

  @media #{$mq-large} {
    width: calc(100% - 11% * 2);
  }

  @media #{$mq-xlarge} {
    width: calc(100% - 16% * 2);
  }

  .info {
    transform-origin: top left;
    transform: rotate($skewDeg) skewY($skewDeg);
    transition: transform $duration ease;
    z-index: 5;
    width: 104%;
    background: $bg2;
    z-index: 1;
    align-items: flex-start;
    // border: 1px solid transparentize($color: $color, $amount: 0.5);

    & > div {
      transform: skewY(-$skewDeg) rotate($skewDeg);
      padding: 10px 0;
      height: auto;
    }

    .properties {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      gap: 10px;

      a {
        border-radius: 10px;
        width: 2rem;
        height: 2rem;
      }

      picture {
        width: 1.6rem;
        height: 1.6rem;
      }

      svg {
        font-size: 1.6em;
      }
    }

    h1,
    p {
      margin: 0;
    }
  }

  #topImg {
    width: 100%;

    & > span {
      position: unset !important;
    }

    img {
      width: 100% !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // height: 40vh;
      overflow: hidden;
      position: unset !important;
      height: unset !important;
      width: unset !important;
      min-height: unset !important;
      max-height: 500px !important;
    }
  }
}

@media screen and (min-width: 1450px) {
  .info {
    transform: rotate($skewDeg * 0.8) skewY($skewDeg * 0.8) !important;

    & > div {
      transform: rotate($skewDeg * 0.8) skewY(-($skewDeg * 0.8)) !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .info {
    padding: 0 30px;
  }
}

@media screen and (max-width: 700px) {
  .topPart {
    height: fit-content;
    .info {
      transform: none;
      position: static;
      height: auto;

      & > div {
        transform: none;
      }
    }

    picture {
      height: auto;
    }
  }
}

.noImg {
  composes: topPart;

  .info {
    transform: none !important;
    & > div {
      transform: none !important;
    }
  }
}

.main :global .image {
  text-align: center;

  &.image-logo img {
    height: 64px;
    width: 64px;
  }
}
