form {
  width: 100%;
  color: white;
  text-shadow: 1px 1px 2px black;

  label {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    display: block;
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
  }

  textarea {
    display: block;
    width: 100%;
    height: 300px;
    resize: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
    outline: none;
  }

  button {
    display: block;
    padding: 10px 10px;
    height: 40px;
    text-align: center;
    margin: 10px auto;
    width: 100px;
    border-radius: 20px;
    border: 1px solid black;
  }
}
