@import "variables";

.layout {
  flex-direction: column;
}

.main {
  z-index: 2;
  padding-top: $homeMargin * 3;
  background: linear-gradient(transparentize($bg2, 0), $bg);
  transition: padding $duration;
}

.main,
.maxWidth {
  flex-direction: column;
  width: 100%;
}

.maxWidth {
  max-width: none !important;
  z-index: 4;
}

@media screen and (max-width: 900px) {
  .main {
    padding: $homeMargin * 4 1em 0 1em;
  }
}
