@import "../../assets/mixins";

.intro-container {
  background-image: url("../images/projects/projectsbg.jpg");
}

.projectFlex {
  flex-wrap: wrap;
  width: 100%;

  li {
    margin: 10px;
    border-radius: 15px;
    border: 2px solid rgb(100, 180, 255);
    @include box-sizing(border-box);
    padding: 5px;
    width: calc(50% - 20px);
    height: 150px;
    position: relative;

    a {
      color: black;
    }

    .demolink {
      position: absolute;
      bottom: 5px;
      right: 5px;
      border-radius: 15px;
      background: rgb(100, 180, 255);
      width: 120px;
      padding: 5px 10px;
      text-align: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
}
