<div class="projects-container bgimg">
  <div class="projects">
    <h1>My Projects</h1>
    <p>
      Here are my featured projects <br>
      and also some demos
    </p>
  </div>
  <div class="more">
    <h3>MORE</h3>
    <fa-icon [icon]="faAngleDoubleDown" class="fa-3x"></fa-icon>
  </div>
</div>
<div class="main">
  <div class="section">
    <h1>Github Repositories</h1>
    <ul class="projectFlex flex">
      <li *ngFor="let project of projects">
        <a href="{{project.gitlink}}">
          <h5>{{project.name}}</h5>
          <p>{{project.description}}</p>
        </a>
        <a *ngIf="project.url!=''" href="{{project.url}}" class="demolink flex">
          DEMO
          <fa-icon [icon]="faArrowRight" class="fa-xm"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
