@charset "UTF-8";
/* CSS Document */

/* This CSS is taken from the Typora theme: Ash */
/* it is modified, because I don't need all the typora specific stuff */
/* link: https://github.com/typora/typora-ash-theme */

/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(/ash/Montserrat-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(/ash/Montserrat.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

:root {
  --text-color: #fff;
  --bg-color: #666;
}

#post {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background-color: #666;
  color: #fff;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  width: 90%;
  margin: 0 auto;
}

p {
  text-align: justify;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
}

h5,
h6 {
  font-weight: bold;
}

a {
  color: #fff;
}

[md-inline] a {
  background-color: #4d4d4d;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9rem;
}

code {
  color: #d8edff;
  font-size: 0.9rem;
}

td {
  border: 1px solid #666;
  background-color: #858585;
  padding-left: 8px;
}

th {
  color: #b3b3b3;
  font-weight: 400;
  text-align: center;
}

blockquote {
  text-align: left;
  font: 16px/24px Arial, sans-serif;
  color: #d4d4d4;
  padding: 0.5em 10px;
  margin: 1.5em 10px;
  position: relative;
  padding-left: 24px;
}

blockquote:before {
  content: open-quote;
  font-size: 24pt;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background: #ddd;
  float: left;
  position: absolute;
  border-radius: 25px;
  /* margin-right: 0.5em; */
  left: -8px;
  vertical-align: -0.4em;
  display: block;
  height: 25px;
  width: 25px;
  background-color: #555;
  font-style: normal;
  transition: all 350ms;
  -o-transition: all 350ms;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
}
