@import "variables";

.socialRing {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.socialRingCircle {
  width: 100%;
  height: 100%;
  transition: stroke-dashoffset $duration ease-out;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: $color;
}
