<header>
  <nav class="flex unscrolled-nav expanded-nav">
    <a routerLink="/" class="mainLink">TheCrether</a>
    <div>
      <fa-icon [icon]="faCompass" class="fa-1x navBtn"></fa-icon>
      <div class="flex" id="sideLinks">
        <a routerLink="/projects" class="sideLink">Projects</a>
        <a routerLink="/contact" class="sideLink">Contact</a>
      </div>
    </div>
  </nav>
</header>
<div id="scrollTo"></div>
<router-outlet></router-outlet>
<footer>
  <div class="section">
    <h1>Contact me here</h1>
    <div class="flex">
      <a *ngFor="let social of socials" href="{{social.url}}" class="socials-{{socials.indexOf(social)}}"></a>
    </div>
  </div>
</footer>
