<header>
  <nav class="flex unscrolled-nav expanded-nav">
    <a routerLink="/home" class="mainLink">TheCrether</a>
    <div class="flex unscrolled-sidelinks expanded-sidelinks">
      <ul>
        <a routerLink="/projects" class="sideLink">Projects</a>
        <a routerLink="/contact" class="sideLink">Contact</a>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="flex">
  <a *ngFor="let social of socials" href="{{social.url}}">
    <img src="{{social.icon_url}}" alt="{{social.alt}}">
  </a>
</footer>
