@import "variables";

.footer {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  & > * {
    margin: 0 50px 0 0;
  }
}

.socials {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  a {
    color: $color;
    height: 1.5em;
    align-items: flex-start;
    margin: 4px 0;

    svg {
      height: 1em;
      width: 1em;
      margin: 5px;
    }
  }
}
