@import "variables";

.footer {
  flex-direction: row;

  & > * {
    flex: 1 0 0;

    &:nth-child(1) {
      text-align: right;
    }
  }

  a {
    color: $color !important;
  }
}

.socials {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: $color !important;
    line-height: $base-line-height;
    align-items: center;
    margin: 4px 0;

    svg {
      height: 1em;
      width: 1em;
      margin: 5px;
    }
  }
}
