#starth1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    opacity: 0.7;
    top: 250px;
    position: absolute;
    text-align: center;
    z-index: 999;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    color: black;
    width: calc(100% - 70px);
}

.bgimg-1 {
    min-height: 580px;
    background-image: url('../images/index/metro.jpg');
}

.bgimg-2 {
    min-height: 500px;
    background-image: url('../images/index/cactus.jpg');
}

.bgimg-3 {
    min-height: 400px;
    background-image: url('../images/index/code.jpg')
}

#table {
    padding: 10px 0 20px 0;
    font-size: 30px;
}

#table table {
    vertical-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Anonymous Pro', monospace;
}

#table table td :not(.right) {
    min-width: 190px;
}


#table table td {
    line-height: 45px;
}

#table h4 {
    font-family: 'Allerta Stencil', serif;
    font-size: 30px;
}

.right {
    border-right: 2px solid green;
}

.under {
    border-bottom: 2px solid red;
}


form {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 30px;
    -webkit-transition: height 1s, opacity 500ms;
    -o-transition: height 1s, opacity 500ms;
    transition: height 1s, opacity 500ms;
    height: 250px;
    margin-top: 10px;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.part {
    margin: 5px;
}

form input {
    cursor: text;
}

form input[type=submit] {
    cursor: pointer;
}

form select {
    cursor: default;
}

form input[type=date] {
    cursor: text;
    letter-spacing: 1px;
}

form label,
input :not(.gender) {
    padding-top: 10px;
    display: block;
}


form select {
    margin: 3px;
    width: 250px;
    border: 1.5px solid grey;
    background: lightgrey;
    text-align-last: center;
    direction: ltr;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
}


input[type=submit] {
    font-size: 25px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    border: 1.5px solid lightgrey;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin: 3px auto;
    background: #28fc19;
}

#result {
    padding: 15px;
    opacity: 0;
    width: 120px;
    margin: 0 auto;
    height: 0;
    -webkit-transition: height 2s, opacity 500ms;
    -o-transition: height 2s, opacity 500ms;
    transition: height 2s, opacity 500ms;
    overflow: hidden;
}

#result svg {
    width: 120px;
    height: 85px;
}

.projects {
    width: 1000px;
    height: 490px;
    margin: 2px auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.projects a {
    text-decoration: none;
}

.projItem {
    border: 1.5px solid grey;
    border-radius: 15px;
    min-width: 465px;
    min-height: 220px;
    margin: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.projItem-1 {
    background-image: url('../images/index/discord.svg');
}

.projItem-2 {
    background-image: url('../images/index/pythonbannerTrans.png');
}

.projItem-3 {
    background-image: url('../images/index/website.jpg');
}

.projItem-4 {
    background-image: url('../images/index/discord.svg');
}

.projCont {
    margin: 190px 0 0 0;
    border-radius: 0 0 15px 15px;
    background: rgba(209, 197, 197, 0.5);
    height: 55px;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    font-family: 'Anonymous Pro', serif;
    -webkit-transition: height 0.8s, margin-top 0.8s;
    -o-transition: height 0.8s, margin-top 0.8s;
    transition: height 0.8s, margin-top 0.8s;
    padding: 0;
}

.projItem:hover>.projCont {
    margin-top: 165px;
    height: 80px;
}

.projItem:hover .flex {
    -webkit-transition: height 0.8s, padding 0.8s;
    -o-transition: height 0.8s, padding 0.8s;
    transition: height 0.8s, padding 0.8s;
    height: 55px;
    padding: 12.5px 0;
}

.projCont p {
    height: 45px;
    text-align: left;
    padding: 5px;
    font-size: 21px;
}

.projCont img {
    height: 45px;
    padding: 5px
}