body {
    font-family: 'Anonymous Pro', serif;
    font-size: 20px;
}

.bgimg-1 {
    min-height: 580px;
    background-image: url('../images/requirements/tinf/1.jpg');
}

.bgimg-2 {
    min-height: 500px;
    background-image: url('../images/requirements/tinf/2.jpg');
}

.bgimg-3 {
    min-height: 400px;
    background-image: url('../images/requirements/tinf/3.jpg')
}

#animation {
    height: 500px;
}

#animation svg {
    height: 500px;
    width: 500px;
}

.bmi {
    width: 250px;
    margin: 5px auto;
}

#compute {
    font-size: 25px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    border: 1.5px solid lightgrey;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin: 3px auto;
    background: #28fc19;
}

#login .form {
    width: 250px;
    margin: 5px auto;
    height: 280px;
    -webkit-transition: height 1s, opacity 500ms;
    -o-transition: height 1s, opacity 500ms;
    transition: height 1s, opacity 500ms;
}

#login .form input {
    margin-bottom: 20px;
}

input[type=submit] {
    font-size: 25px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    border: 1.5px solid lightgrey;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    margin: 3px auto;
    background: #28fc19;
}


#error {
    font-family: Arial, serif;
    color: red;
    font-weight: bold;
    font-size: 20px;
    display: none;
}

#success {
    display: none;
    font-family: Arial, serif;
    color: green;
    font-weight: bold;
    font-size: 20px;
}