@import "variables";

.intro {
  h2 {
    font-weight: normal;
    span {
      font-size: 1.25em;
      font-weight: bold;
    }
  }
}

ul.section {
  list-style: none;

  li {
    margin: 5px;
  }
}
