@mixin box-sizing($property) {
  -webkit-box-sizing: $property;
  box-sizing: $property;
}

@mixin filter($property) {
  -webkit-filter: $property;
  filter: $property;
}

@mixin justify-content($property) {
  -webkit-box-pack: $property;
  -ms-flex-pack: $property;
  justify-content: $property;
}

@mixin flex-wrap($property) {
  -ms-flex-wrap: $property;
  flex-wrap: $property;
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  box-shadow: $property;
}

//
@mixin bg-linear-gradient($property) {
  background: -webkit-gradient($property);
  background: -o-linear-gradient($property);
  background: -webkit-gradient(linear, left top, left bottom, from($property));
  background: linear-gradient($property);
}

@mixin flexDisplay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin allLinkColor($color, $bgHover) {
  &:link {
    color: $color;
  }

  &:visited {
    color: $color;
  }

  &:hover {
    background: $bgHover;
    color: $color;
  }

  &:active {
    color: $color;
  }
}

@mixin parallaxBG {
  .bgimg {
    opacity: 0.8;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
