/* You can add global styles to this file, and also import other style files */
@import "./assets/vars";
@import "./assets/mixins";
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Anaheim|Chakra+Petch|Open+Sans');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 100%;
  font-display: swap;
}

.flex {
  @include flexDisplay;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

@include parallaxBG;

.intro-container {
  width: 100%;
  height: 100vh;

  .intro {
    width: 1100px;
    padding: 60px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(6, 6, 6, 0.7);
    color: white;

    h1 {
      text-transform: uppercase;
      letter-spacing: 8px;
      text-align: right;
    }

    p {
      padding: 5px;
    }
  }

  .more {
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

#scrollTo {
  width: 100%;
  height: 0;
  position: absolute;
  top: calc(100vh - 60px);
}


.main {
  width: 100%;
  height: 100%;

  .section {
    padding: 10px 0;
    display: block;
    z-index: 999;
    width: 1100px;
    margin: 0 auto;

    &>h1 {
      font-size: 25px;
      letter-spacing: 8px;
      font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      padding: 30px 0;
      text-align: right;
    }
  }
}

app-root {
  width: 100%;
}

@media only screen and (max-width: 1150px) {
  .intro-container {
    .intro {
      width: calc(100% - 50px);
    }
  }

  .main {
    .section {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 430px) {}
