<!-- TODO more content -->
<div class="intro-container bgimg">
  <div class="intro">
    <h1>Denis Imeri</h1>
    <p>
      I am an aspiring developer that is learning how life works
      & just trying everything
    </p>
  </div>
  <div class="more">
    <h3>MORE</h3>
    <fa-icon [icon]="faAngleDoubleDown" class="fa-1x"></fa-icon>
  </div>
</div>
<div class="main">
  <div class="section" id="work">
    <h1>Work</h1>
    <div class="content">
      At the moment I am working with:
      <ul class="flex work">
        <li>
          <h2>Java</h2>
          <div class="work-content">
            Doing that in school.<br>
            Now pretty good at GUI, Lists (Collections)
          </div>
        </li>
        <li>
          <h2>Express</h2>
          <div class="work-content">
            Building backends with it<br>
            This site is run on an Express backend
          </div>
        </li>
        <li>
          <h2>Angular</h2>
          <div class="work-content">
            Making the website you see right now<br>
            Looking into animations and more
          </div>
        </li>
        <li>
          <h2>C#</h2>
          <div class="work-content">
            Also doing that in school<br>
            Making algorithms and want to use web frameworks
          </div>
        </li>
      </ul>
      <!-- TODO CONTENT LOL -->
    </div>
  </div>
  <div class="section section-switch" id="aboutme">
    <h1>About Me</h1>
    <div class="content">
      I am a 
    </div>
  </div>
</div>
