<div class="intro-container bgimg">
  <div class="intro flex">
    <h1>Denis Imeri</h1>
    <p>
      I am an aspiring developer that is learning how life works<br>
      & just trying everything
    </p>
  </div>
  <div id="more">
    <h3>MORE</h3>
    <svg>
      <polyline points="10,10 45,45 80,10" />
      <polyline points="10,30 45,65 80,30" />
    </svg>
  </div>
</div>
<div class="main">
  <div class="section-left section">
    <h1>About Me</h1>
    <div class="content">
      I am an Austrian informatics student at HTBLA Kaindorf<br>

    </div>
  </div>
</div>
