<!-- TODO more content -->
<div class="intro-container bgimg">
  <div class="intro">
    <h1>Denis Imeri</h1>
    <p>
      I am an aspiring developer that is learning how life works
      & just trying everything
    </p>
  </div>
  <div class="more">
    <h3>MORE</h3>
    <fa-icon [icon]="faAngleDoubleDown" class="fa-3x"></fa-icon>
  </div>
</div>
<div class="main">
  <div class="section-left section" id="aboutMe">
    <h1>Work</h1>
    <div class="content">

      <!-- TODO CONTENT LOL -->
    </div>
  </div>
</div>
