@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: $bg;
  color: $color;
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}

a,
.link {
  color: $link;
  text-decoration: none;
  cursor: pointer;
  transition: text-decoration $duration;
  background: transparent;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $bg2;
  width: 100%;
  padding: 20px 0;
}

header {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  flex-direction: column;
  transition: max-width $duration;
  flex-direction: column;
}

.section {
  width: 100%;
  margin: $spacing 0 $spacing * 2 0;
  position: relative;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  opacity: 0;

  h2 {
    width: 100%;
    text-align: center;
  }

  & > p {
    width: 75%;
    transition: width $duration;
  }

  &:nth-child(2n) {
    text-align: right;
    align-items: flex-end;
  }

  &:nth-child(2n + 1) {
    text-align: left;
    align-items: flex-start;
  }
}

.animated-section {
  opacity: 1;
  animation: 1.5s ease-in-out animatesection;
}

@keyframes animatesection {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: none;
  }
}
ul {
  list-style: none;

  li {
    margin: 5px;
  }
}

@media screen and (max-width: 850px) {
  .alternating {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      width: 85%;

      &:nth-child(2n) {
        text-align: left;
      }

      &:nth-child(2n + 1) {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section {
    p {
      width: 95%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 850px;
  }
}
